<%
    for (value in posts) {
        let post = posts[value] %>
        <div>
            <h1>Author: <%= post.author%></h1>
            <p>Posted on:<%=post.createdAt%></p>
            <p>Title: <%= post.title%></p>
            <p>Image:<img src="<%=post.img%>"></p>
            <p>Description:<%=post.description%></p>
            <form action="./chat-room/create">
                <input id="post" name="post"  value="<%=post%>" style="display: none;">
                <input type="submit" value="Create room for this post">
            </form>
        </div><br>
<%  }
%>
