<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/chat-room.js"></script>
    <script src="/javascripts/canvas.js"></script>
</head>
<body onload="init()">
<div id="initial_form" style="display: block">
    <h1>Create a new chat room for story by <%= storyAuthor%></h1>
    <img id="post-image" src="<%= storyImg%>"/>
    <h2>Title: <%=storyTitle%></h2>
    <form onsubmit="return false;">
        <p><label for="name"> Enter your name: </label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <input type="text" id="roomNo" name="roomNo" style="display: none;">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
            <p id="room-code">Your Room Code is:</p>
        </p>
        <input type="text" id="story_id" name="story_id" value="<%=storyID%>" style="display: none;">
        <button id="connect" onclick="connectToRoom()">Connect</button>
    </form>
</div>



<div id="chat_interface" style="display: none">
    <div>
        <h1>Chat Room for Story: <%=storyTitle%> by  <%= storyAuthor%> </h1>
        <p><div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
    </div>
    </p>
    <div style="width: 100%; height: 50vh">
        <img id="image" height="100%" >
        <canvas  id="canvas" ></canvas>
    </div>
    <!--    </div>-->
    <div id="history" style="height: 35vh" class="boxed scrolling" ></div>
    <div id="input" style="height: 5vh" class=" boxed">
        <form onsubmit="return false;" style="width: 100%">
            <p>
                <label for="name"> chat: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                <button id="chat_send" onclick="sendChatText()">Send</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>
